In [5]:
import numpy as np
import pandas as pd

In [9]:
# Step 1: Create a NumPy array with random numbers
np.random.seed(42)
random_array = np.random.randint(1,101, size=[100,2]) # could have duplicates

In [10]:
# Step 2: Convert the NumPy array to a Pandas DataFrame
df = pd.DataFrame(random_array, columns=['Column1', 'Column2'])
df.head()

   Column1  Column2
0       52       93
1       15       72
2       61       21
3       83       87
4       75       75

Using pd.qcut()

.qcut() tries to create bins such that each bin has approximately same number of data points. Buf if there are duplicates, bin edges might not be unique

In [16]:
df['column1_bins']=pd.qcut(df['Column1'],q=10,duplicates='drop')
freq_by_default_bin = df['column1_bins'].value_counts().sort_index()
df_default_bins=pd.DataFrame({'custom_bins':freq_by_default_bin.index,'frequency':freq_by_default_bin.values})
df_default_bins

    custom_bins  frequency
0  (0.999, 4.9]         10
1   (4.9, 14.8]         10
2  (14.8, 28.0]         12
3  (28.0, 35.0]          9
4  (35.0, 52.0]         10
5  (52.0, 60.4]          9
6  (60.4, 65.4]         10
7  (65.4, 80.2]         10
8  (80.2, 89.0]         11
9  (89.0, 99.0]          9

Using pd.cut()

In [15]:
custom_bins=[0,10,20,30,40,50,60,70,80,90,100]
df['custom_bins'] = pd.cut(df['Column2'],bins=custom_bins)
freq_by_bin = df['custom_bins'].value_counts().sort_index()
df_custom_bins=pd.DataFrame({'custom_bins':freq_by_bin.index,'frequency':freq_by_bin.values})
df_custom_bins

  custom_bins  frequency
0     (0, 10]         11
1    (10, 20]          7
2    (20, 30]         10
3    (30, 40]          7
4    (40, 50]         13
5    (50, 60]          9
6    (60, 70]         10
7    (70, 80]         12
8    (80, 90]         10
9   (90, 100]         11

In [17]:
data = {'Column1': [0, 10, 10, 10, 20, 20, 30, 30, 30, 40, 50, 50, 50, 60, 70, 70, 80, 90, 90, 100]}
df = pd.DataFrame(data)
df

    Column1
0         0
1        10
2        10
3        10
4        20
5        20
6        30
7        30
8        30
9        40
10       50
11       50
12       50
13       60
14       70
15       70
16       80
17       90
18       90
19      100

In [20]:
df['column1_bins'] = pd.qcut(df['Column1'], q=10)
df['column1_bins'].value_counts().sort_index()

column1_bins
(-0.001, 10.0]    4
(10.0, 18.0]      0
(18.0, 27.0]      2
(27.0, 30.0]      3
(30.0, 45.0]      1
(45.0, 50.0]      3
(50.0, 63.0]      1
(63.0, 72.0]      2
(72.0, 90.0]      3
(90.0, 100.0]     1
Name: count, dtype: int64

In [21]:
# Using qcut with duplicates='drop'
df['column1_bins'] = pd.qcut(df['Column1'], q=10, duplicates='drop')
df['column1_bins'].value_counts().sort_index()

column1_bins
(-0.001, 10.0]    4
(10.0, 18.0]      0
(18.0, 27.0]      2
(27.0, 30.0]      3
(30.0, 45.0]      1
(45.0, 50.0]      3
(50.0, 63.0]      1
(63.0, 72.0]      2
(72.0, 90.0]      3
(90.0, 100.0]     1
Name: count, dtype: int64